node_modules/
www/
*.log
.DS_Store

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/app/release/
*.keystore
!debug.keystore

# IDE
.idea/
*.iml
.vscode/
